
.vs/config/applicationhost.config
.vs/Scotchy DotNet UI/v15/.suo
.vs/Scotchy DotNet UI/v15/Server/sqlite3/db.lock
.vs/Scotchy DotNet UI/v15/Server/sqlite3/storage.ide-shm
.vs/Scotchy DotNet UI/v15/Server/sqlite3/storage.ide
.vs/Scotchy DotNet UI/v15/Server/sqlite3/storage.ide-wal
