@{
    ViewData["Title"] = "Home Page";
}


<div id="logo" Class="logo">
    <img src="~/images/logo.png" height=200px width=200px alt="Logo" /><br>
    <span class="caption">Angus McScotchy, III</span>
</div>

<div Class="scotchy-navbar">
        <button (click)="login()" Class="btn btn-default"><i class="fas fa-sign-in-alt"></i> Sign In</button>
        <button (click)="signUp()" Class="btn btn-default"><i class="far fa-edit"></i> Sign Up</button>
</div>

