@model WishList.Model.WishListDTO

@{
    ViewData["Title"] = "Edit Wish List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit - @Html.DisplayFor(model => model.wishListName)</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="wishListName" class="control-label"></label>
                <input asp-for="wishListName" class="form-control" />
                <span asp-validation-for="wishListName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div class="hidden">
                <input asp-for="_id" class="hidden">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
