/***************************************
    Scotch Details View
****************************************/

.scotchDetailHeader {

}

.scotchDetails {
    margin: 2px 0 20px 0;
}

.spacer {
    padding-top: 20px;
}

.scotch-rating {
    font-family: fantasy;
    font-size: 225%;
    color: darkorange;
    float: left;
    width: 50%;
}

.editIcon {
    font-size: 150%;
    color: darkred;
    margin: 30px 5px 8px 5px;
}


.in-stock {
    font-size: 150%;
    text-align: right;
    float: right;
    width: 50%;
}

.check-mark {
    color: darkgreen;
    font-size: 150%;
    font-weight: bold;
}

.red-x {
    color: red;
    font-size: 150%;
    font-weight: bold;
}

/*************************************
    All Tables
***************************************/

.Open-Column {
    max-width: 27px;
    text-align: center;
}

.Edit-Column {
    max-width: 70px;
    text-align: center;
}

.hiddenData {
    display: none;
}

.filterRow {
    background-color: darkolivegreen;
}

/************************************
    Notes table
*************************************/

.Note-Comment-Column {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*max-width: 150px;*/
}

.Note-Date-Column {
    min-width: 105px;
    max-width: 115px;
}

/************************************
    Tastings table
*************************************/

.Tasting-Comment-Column {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.Tasting-Date-Column {
    min-width: 105px;
    max-width: 115px;
}

.Tasting-Rating-Column {
    min-width: 40px;
    max-width: 100px;
}
